<div class="todos-wrapper">
    <div class="container">
        <app-todo-item
                @todoItemAnim 
                *ngFor="let todo of todos ; trackBy: trackByid" 
                [todo]="todo"
                 (click)="toggleCompleted(todo)"
                (editClick)="onEditClicked(todo)"
                (deleteClick)="onDeleteClicked(todo)">
                </app-todo-item>

        <div class="btns-container btns-centered">
            <a class="btn add-btn" routerLink="add">
                <i class="material-icons-outlined">add</i>
                Add</a>
        </div>
    </div>
</div>