.tabs{
    display: flex;
    gap: 14px;
    padding: 10px;
    background-color: rgba(white, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 12px;

    margin: 12px;
    margin-top: 50px;
}

.tab{
    position: relative;
    z-index: 1;
    text-decoration: none;
}

.tab-tile{
    display: flex;
    padding: 18px;
    // background: linear-gradient(45deg, #f8b5a5,#e2d2fd);
    // border-radius: 10px;
    cursor: pointer;
    i{
        color: #222;
    }
    transition: all 0.2s ease-out ;
}

.tab.selected .tab-tile {
    // transform: translateY(-28px);
    transform: translateY(-50%);
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 0, 0, 2);
    
    // border-radius: 50%;
}

//Style for tab-tile background shapes

.tab-tile::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    opacity: 0.9;
    border-radius: 10px;

    transition: all 0.2s;
}

.bookmarks-tab .tab-tile::before{
    background: linear-gradient(45deg, #f8b5a5,#e2d2fd);
}

.todos-tab .tab-tile::before{
    background: linear-gradient(45deg, #a2ffff,#ffbdde);
}


.notes-tab .tab-tile::before{
    background: linear-gradient(45deg, #d2cdff,#5fffbc);
}


.tab-tile:hover::before{
    opacity: 1;
    transform: scale(1.12);
}



.tab.selected .tab-tile::before{
    transform: scale(1.12) ;
    border-radius: 50%; 
    opacity: 1;
    box-shadow: 0px 7px 17px rgba(black,0.9);
    // transition-delay: 0.2s;
}
//End of tab-tile shape styles

.tab::after{
    content: '';
    position: absolute;

    bottom: -7px;
    left: 0;
    right: 0;

    height: 3px;
    width:50%;
    margin: auto;

    background-color:rgba(white,0.85) ;   
    border-radius: 2px;
    transition: all 0.2s;
    //Hide By :default

    opacity: 0;

    transform: scaleX(0);
}

.tab.selected::after{
    opacity: 0.8;
    transform: scaleX(1);
    transition-delay: 0.2s;
}

.tab.selected{outline: none;}