<div class="app-wrapper">
  <img [src]="bg" *ngFor="let bg of backgrounds.reverse()" alt="" class="bg-img" (load)="onBgImgload($event)" @bgAnim>
  <div class="btn change-bg-btn" (click)="changeBgimg()" *ngIf="!loading" @fadeAnim>
    <i class="material-icons">refresh</i>
  </div>
  <div class="top-section">
    <h1>{{dateTime | async | date:'hh:mm:ss a'}}</h1>
    <h2>{{dateTime | async | date: 'dd MMMM yyyy'}}</h2>
  </div>

  <!-- <div class="loader"></div> -->

  <div class="content-section" [@routeAnim]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <div class="bottom-section">
    <app-tabs></app-tabs>
  </div>

  <app-notification></app-notification>
</div>