.app-wrapper{
    display: flex;
    flex-direction: column;
    height:100%;
    
}
.bg-img{
    position: fixed;
    z-index: -1 ;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.top-section{
    // background-color: aquamarine;
    text-align: center;

    padding: 40px 0;

    h1{
        font-size: 120px;
        font-weight: bold;
        color: #f5f5f5;
        text-shadow: 0px 1px 4px rgba(black,0.12)
    }

    h2{
        font-size: 28px;
        color: white;
        text-shadow: 0px 1px 4px rgba(black,0.5);
    }
}

.content-section{
    // background-color: cadetblue;
    flex-grow: 1;
    min-height: 0;
}
.bottom-section{
    // background-color: coral;

    display: flex;
    app-tabs{
        margin: auto;
    }
}.change-bg-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background: rgba(black,0.12);
    color: rgba(white,0.7);

    &:hover{
        background: rgba(black,0.2);
        color: white;
    }

    &:active{
        transform: translateY(5px);
    }
}

// .loader{
//     height: 100px;
//     width: 100px;
//     border-radius: 50%;
//     border: 5px solid #ddd;
//     border-top-color: #333;
//     animation: rotate 1s infinite   ;
// }

// @keyframes rotate {
//     100% {
//         rotate: 360deg;
//     }
// }
