

.check-box {
    display: flex;
    padding: 4px;
    border: 3px solid rgba($color: white, $alpha: 0.34);
    border-radius: 50%;
    margin-right: 15px;

    i {
        font-size: 18px;
        opacity: 0;
    }
}



.todo-item {
    position: relative;
    display: flex;
    background-color: rgba($color: black, $alpha: 0.5);
    border-radius: 25px;
    padding: 10px 12px;
    margin-bottom: 15px;
    align-items: center;
    cursor: pointer;

    &:active{
        transform: translateY(3px);
        transition: all 0.2s ease-in-out;
    }
}

.todo-text {
    color: rgba(white, 0.78);
    overflow-wrap: normal;
}


.todo-text,
.check-box {
    transition: 0.12s;
    
}

.todo-item:hover {
    backdrop-filter: blur(1px);
    .todo-text {
        color: rgba(white, 0.78);
        
    }

    .check-box {
        border-color: transparent;
        background-color: rgba($color: white, $alpha: 0.34);
    }
}

.todo-item.completed {
    .todo-text {
        color: rgba(white, 0.5);
    }

    .check-box {
        background: rgb(9, 218, 89);
        border-color: transparent;

        i {
            opacity: 1;
        }
    }
}

.todo-item-actions{
    position: absolute;
    right: 5px;
    background: rgba(72,72,82,0.85);
    border-radius: 20px;
    backdrop-filter: blur(2px);
    top: 5px;
    box-shadow: 0px 4px 12px rgba($color: black, $alpha: 0.2);
    transition:  0.2s;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
}

.todo-item-action-btn{
    background: transparent;
    border-radius: 20px;
    padding: 10px;
    &:hover{
        background: rgb(50, 50, 53);
    }

    &:first-child{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 14px;
    }

    &:last-child{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-right: 14px;
    }
}

.todo-item-action-btn i{
    font-size: 17px;
}
.todo-item:hover .todo-item-actions{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.3s;
    transform-style: zoom-in;
}