
.bookmark-tile{
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 10px;

    background: rgba(black,0.5);
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border-radius: 7px;
    cursor: pointer;
    &:hover{
        background: rgba(black,0.45);
        backdrop-filter: blur(2px);
    }

    &:active{
        background: rgba(black,0.49);
        transform: translateY(3px);
        transition: all 0.1s;
    }
    
}

.bookmark-tile img{
    max-width: 30px;
}

.tile-text{
    font-size: 14px;
    color: rgba($color: white, $alpha: 0.85);
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tile-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.tile-icon.fallback{
    background: rgba(45,48,53,0.7);
    color: rgba($color: white, $alpha: 0.85);
    border-radius: 50%;
    font-size: 20px;
    font-weight: 600;
}