/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Material+Icons+Outlined|Material+Icons');

html{
    font-family: 'Inter', sans-serif;
    color: #222;
}

html, body {
    height: 100%;
}

h1{
    font-size: 48px;;
}
h2{
    font-size: 40px;
    margin-bottom: 25px;
}

.container{
    max-width: 850px;
    margin: auto;
}

.btn{
    display: inline-flex;
    padding: 12px 22px;
    background: rgba($color: black, $alpha: 0.7);
    color: whitesmoke;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;

    &:hover{
        background: rgba(black,0.78);
        backdrop-filter: blur(1.4px);
    }
    text-decoration: none;
    &:active{
        background: rgba(black,0.84);
        transform: translateY(3px);
        transition: all 1.2s;
    }
    font-family: inherit;
    border: none;
}

.btns-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;

    &.btns-centered{
        justify-content: center;
    }
    .align-end{
        margin-left: auto;
    }
}

.has-blurred-white-bg{
    background: rgba(white,0.85);
    backdrop-filter: blur(20px);   
}

h1.is-bold, h2.is-bold{
    font-weight: bold;
    letter-spacing: -2px;
}

.form-group{
    margin-bottom: 10px;

    label.form-label{
        display: block;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        color: rgba(black,0.84);
    }
}

.errorMsg{
    color: red;
}

.text-box,
.text-area{
    display: block;
    font-family: inherit;
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    background: rgba(white,0.9);
    border: 2px solid rgba(black,0.3);

    &:hover{
        background: rgba(white,0.95);
    }

    &:focus{
        outline: none;
        background: white;
        
    }

    &:hover,&:focus{
        border-color: rgba(black,0.42);
    }

}

// .form-group{
//     width: 100%;
// }

.text-area{
    resize: vertical;
    min-height: 100px;
}

a{
    text-decoration: none;
}

.btn1{
    margin: 10px 0;
}