.bookmarks-wrapper{
    height: 100%;
    overflow-y: auto;
    // background-color: aqua;
}


.bookmark-tiles-container{
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.add-btn i{
    margin-right: 5px;
    margin-left: -3px;
}

.manage-btn i{
    margin-right: 7px;
}